<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Personal Suite" parallel="tests" thread-count="2">

  
  <test  name="Loan">
   <parameter name="URL" value="candi.loan.de"/>
    <classes>
      <class name="Test.day2"/>
      <class name="Test.day1"/>
      <class name="Test.day4">
        <methods>     
           <include name="APIHomeLogin"/>  
        </methods>
     </class>
    </classes>
  </test> <!-- Test -->
  
  <test name="Car Loan"> 
   <parameter name="URL" value="candi.Carloan.de"/>
   <parameter name="APIKey/username" value="candi.chiu"/>
    <classes>
      <class name="Test.day3">
        <methods>
           <exclude name="Mobile.*"/>
        </methods>
      </class>
   </classes>  
  </test>
    
</suite> <!-- Suite -->
